html {height:100%;
    background: linear-gradient(#22c1c3, #fdbb2d );}

 /*primeiro espaço*/
.headerA {display:flex;
    justify-content: space-between;
    height:89px;
    width:100%;
}

.nome {background-color: lightblue;
    margin:10px;
    padding:10px;
    height:20px;}
.nome a {text-decoration:none;
color:black;}

.listA {display:flex;
list-style-type: none;}

.listA li a {text-decoration: none;
color:yellow;
background-color:lightblue;
padding:10px;
margin:10px;}

.listA li a:hover {background-color:antiquewhite;}

.profileA {padding:10px;
    margin:10px;}

.linhaA {color:black;
width:100%;
border:1px solid black;}

.text{margin-left: 20px;}

.text h5 {color:blue;}

@media screen and (max-width: 900px) {
    .headerA {
        padding-bottom: 20px;;
      flex-direction: column;
      align-items: center;
    }
  
    .navA {
      margin-top: 20px;
      margin-bottom:30px;
    }
  
    .listA li a {
      margin: 5px 0;
    }
  
    .sectionA {
      text-align: center;
      margin-top: 20px;
    }
    
  
    .text {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px; /* Defina a largura máxima para centralizar */
    }
  
    .text h5 {
      margin-top: 20px;
    }
    .profileA{margin-top: 20px;}
  }