html {height:100%;
    background: linear-gradient(#22c1c3, #fdbb2d );}

 /*primeiro espaço*/
.header {display:flex;
    justify-content: space-between;
    height:89px;
    width:100%;
}

.nome {background-color: lightblue;
    margin:10px;
    padding:10px;
    height:20px;}

.list {display:flex;
list-style-type: none;}

.list li a {text-decoration: none;
color:yellow;
background-color:lightblue;
padding:10px;
margin:10px;}

.list li a:hover {background-color:antiquewhite;}

/*segundo espaço */
.profile {padding:10px;
margin:10px;}

.contentA {margin:10px;
padding:10px;}


.information a {text-decoration: none;
color:blue}
.information :hover {color:antiquewhite;}

.info{display:flex;}

.displayblock{display:flex;
flex-wrap: wrap;}

.informationone{margin-left:10px;
  padding-left:10px;}

.information {
margin-left:10px;
padding-left:10px;}

.imagemdeperfil {max-width: 140px;
min-width: 140px;
max-height: 140px;
min-height: 140px;
display:flex;}

#instagram {display:flex;
margin-left: 50px;}


/*terceiro espaço*/
.repositories{padding:10px;
    margin:10px;}

    .conteiner{display:grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
align-items: center;
justify-content: center;
margin-left: 100px;}

.card {border:1px solid white;
    border-radius: 2%;
background-color:black;
height:125px;
justify-content: center;}

.card a {text-decoration:none;
color:white;}
.card a :hover {text-decoration:none;}
.card-text {margin-left: 10px;}

/*quarto espaço*/
.colegasdetrabalho{padding:10px;
        margin:10px;}


/*linhas*/
.linhaA {color:black;
width:100%;
border:1px solid black;}

.linhaB {color:black;
    width:100%;
    border:1px solid black;}
    
.linhaC {color:black;
    width:100%;
        border:1px solid black;}
